In [1]:
import pandas as pd
import sqlalchemy

In [3]:
df= pd.read_csv(r"C:\Dumps\UMTS\BASE\Export_RncFeature__17Feb1433.txt",sep='\t')
df.head()

,FileName,MO,featureState,isLicenseControlled,keyId,licenseState,reservedBy,serviceState,Unnamed: 8
0,CM_Dump_BASE_cm_exp_20200217_055005.xml,"SubNetwork=ONRM_ROOT_MO_R,SubNetwork=RNCAJUA,M...",0,1,CXC4030197,0,NaN,0,NaN
1,CM_Dump_BASE_cm_exp_20200217_055005.xml,"SubNetwork=ONRM_ROOT_MO_R,SubNetwork=RNCAJUA,M...",1,1,CXC4030105,1,NaN,1,NaN
2,CM_Dump_BASE_cm_exp_20200217_055005.xml,"SubNetwork=ONRM_ROOT_MO_R,SubNetwork=RNCAJUA,M...",0,1,CXC4030133,1,NaN,0,NaN
3,CM_Dump_BASE_cm_exp_20200217_055005.xml,"SubNetwork=ONRM_ROOT_MO_R,SubNetwork=RNCAJUA,M...",0,1,CXC4030190,1,NaN,0,NaN
4,CM_Dump_BASE_cm_exp_20200217_055005.xml,"SubNetwork=ONRM_ROOT_MO_R,SubNetwork=RNCAJUA,M...",0,1,CXC4030151,1,NaN,0,NaN

In [4]:
import pyodbc

In [5]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=VIKRAMKU03;'
                      'Database=Amdocs_Vivo_BASE;'
                      'Trusted_Connection=yes;')

In [8]:
df.to_sql('dbo.rncfeature', conn, index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': ('42S02', "[42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid object name 'sqlite_master'. (208) (SQLExecDirectW); [42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Statement(s) could not be prepared. (8180)")